# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
deploy_env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# Uploads (keep folder, ignore contents)
# ----------------------------
uploads/*
!uploads/.gitkeep

# ----------------------------
# FAISS Vector Store (keep folder, ignore contents)
# ----------------------------
vectorstore/*
!vectorstore/.gitkeep

# ----------------------------
# Metadata (keep folder, ignore contents)
# ----------------------------
metadata/*
!metadata/.gitkeep

# ----------------------------
# SQLite Database
# ----------------------------
*.db

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db