# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
deploy_env/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# Pytest
# ----------------------------
.pytest_cache/

# ----------------------------
# Uploaded PDFs
# ----------------------------
uploads/

# ----------------------------
# FAISS Vector Store
# ----------------------------
vectorstore/

# ----------------------------
# Metadata
# ----------------------------
metadata/

# ----------------------------
# SQLite Database
# ----------------------------
*.db

# ----------------------------
# OS Files
# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db